* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  grid-template-rows: 70px auto;
  height: 100vh;
  width: 100vw;
}

.twoot-button,
.twoot-button-main {
  background-color: lightskyblue;
}

.break,
.right .box,
.search-bar {
  background-color: powderblue;
}

.main-section {
  border: 1px solid powderblue;
  border-style: none solid;
}

.header.logo {
  margin-left: 60px;
  display: grid;
  grid-template-columns: auto;
  justify-content: start;
  align-content: center;
}

.logo img {
  border-radius: 50%;
  height: 50px;
  width: auto;
}

.title-bar {
  line-height: 70px;
  border: 1px powderblue;
  border-style: none solid solid solid;
}

.title-bar p {
  font-size: 35px;
  margin-left: 5px;
}

.search-bar {
  margin: 8px 60px 8px 0;
  padding-left: 15px;
  height: 54px;
  display: grid;
  grid-template-columns: 30px auto;
  align-content: center;
  border-radius: 30px;
}

.search-bar img {
  height: 20px;
  width: 20px;
}

.search-bar input {
  margin-right: 10px;
  background-color: powderblue;
  border: none;
}

main {
  grid-column: 2;
  grid-row: 2;
}

.aside.left {
  grid-column: 1;
  grid-row: 2;
  margin-left: 60px;
  position: relative;
}

.right.aside > *,
.search-bar {
  margin-left: 10px;
}

.left.aside img {
  height: 40px;
  width: 40px;
}

.left.aside .nav-button p,
.title-bar,
.right .box p {
  font-weight: bold;
}

.nav-button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.nav-button p {
  font-size: 25px;
}

.twoot-button {
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  margin-right: 30px;
}

.twoot-button p {
  line-height: 50px;
}

.user-controls {
  position: absolute;
  bottom: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  margin-left: 25px;
  gap: 10px;
}

.user-img {
  border-radius: 50%;
}

.aside.right {
  grid-column: 3;
  grid-row: 2;
  margin-right: 60px;
}

.box {
  border-radius: 15px;
  background-color: white;
  min-height: 70px;
}

.box p {
  font-size: 35px;
  margin: 12px 0 12px 5px;
  border-bottom: 1px solid grey;
}

.user-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 4px;
  justify-self: center;
}

.twoot-controls {
  display: grid;
  grid-template-columns: 65px auto 80px;
  grid-template-rows: auto auto;
}

.twoot-input {
  grid-column: 2 / -1;
  grid-row: 1;
  font-size: 1.5em;
  height: 30px;
  margin-left: 3px;
  border: none;
}

.small-buttons {
  grid-column: 2;
  grid-row: 2;
  border: 1px powderblue;
  border-style: solid none none none;
}

.twoot-button-container {
  grid-column: 3;
  grid-row: 2;
  border: 1px powderblue;
  border-style: solid none none none;
}

.twoot-button-main {
  height: 30px;
  width: auto;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  margin: 8px 5px;
}

.twoot-controls .svg {
  height: 30px;
  width: 30px;
  margin: 8px 0;
}

.break {
  height: 12px;
}

.twoot {
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: 26px auto 34px;
  border: 1px powderblue;
  border-style: none solid solid solid;
  margin: 5px 0;
}

.twoot .twoot-topline {
  grid-column: 2;
  grid-row: 1;
}

.twoot .twoot-text {
  grid-column: 2;
  grid-row: 2;
}

.twoot .inner-twoot-controls {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
}

.twoot-topline p {
  display: inline;
}

.twoot .svg {
  height: 20px;
  width: 20px;
}

.user-name {
  font-weight: bolder;
}

.twoot p {
  margin: 1px 0 1px 3px;
}

.twoot .user-name {
  font-weight: bold;
}

button {
  border: none;
  background-color: inherit;
}

.nav-button:hover,
.nav-button:focus {
  color: dodgerblue;
}

.twoot-button:hover,
.twoot-button-main:hover {
  background-color: dodgerblue;
}

@media (max-width: 1300px) {
  body {
    grid-template-columns: 0.4fr 1.8fr 1fr;
  }
  .aside.left p {
    display: none;
  }
  .aside.left .twoot-button p {
    display: contents;
  }
  .aside.left .twoot-button {
    max-width: 50px;
  }
}

@media (max-width: 1000px) {
  .aside.right,
  .search-bar {
    display: none;
  }
  body {
    grid-template-columns: 0.4fr 1.8fr;
  }
}
